<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Adicionar Tipo de Recarga</title>
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<h1>Adicionar Tipo de Recarga</h1>

	<form th:object="${tipoRecarga}" action="#"
		th:action="@{/adicionar-tipo-recarga}" method="post" id="frm">
		<div class="container">
			<div class="form-group">
				<label>Nome do Tipo de Recarga</label> <input class="form-control" type="text"
					name="nomeTipoRecarga" placeholder="Informe o nome do tipo da recarga" />
			</div>
			<div class="form-group">
				<label>Tipo de Recarga</label> <input class="form-control"
					type="text" name="tipoRecarga"
					placeholder="Informe o tipo do cartão" />
			</div>
			<div class="form-group">
				<label>Tipo de Tarifação</label> <input class="form-control"
					type="text" name="tipoTarifacao"
					placeholder="Informe o tipo da tarifação" />
			</div>
			<div class="form-group">
				<label>Tipo de Integração</label> <input class="form-control"
					type="text" name="tipoIntegracao"
					placeholder="Informe o tipo de integração" />
			</div>
			<div class="form-group">
				<label>Data de Validade</label> <input class="form-control"
					type="text" name="validadeRecarga" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit" name="cmd"
					value="adicionar">Adicionar</button>
			</div>
		</div>
	</form>

</body>
</html>