<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Alterar Cartão</title>
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Sistema de Recargas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home
						<span class="sr-only">(current)</span>
				</a></li>				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Usuario </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:href="@{/adicionar-usuario}">Cadastrar</a>
						<a class="dropdown-item" th:href="@{/pesquisar-usuario}">Pesquisar</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Cartão </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:href="@{/adicionar-cartao}">Cadastrar</a>
						<a class="dropdown-item" th:href="@{/pesquisar-cartao}">Pesquisar</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Recarga </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:href="@{/adicionar-recargas-cartao}">Cadastrar</a>
						<a class="dropdown-item" th:href="@{/pesquisar-recargas-cartao}">Pesquisar</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Tipo de Recarga </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:href="@{/adicionar-tipo-recarga}">Cadastrar</a>
						<a class="dropdown-item" th:href="@{/pesquisar-tipo-recarga}">Pesquisar</a>
					</div></li>
			</ul>
		</div>
	</nav>

	<br>

	<h1>Alterar Cartão</h1>

	<form th:object="${cartao}" action="#"
		th:action="@{'/pesquisar-cartao/alterar-cartao/' + ${cartao.idCartao}}"
		method="post" id="frm" name="alterar">
		<div class="container">
			<div class="form-group">
				<label>Id</label> <input class="form-control" type="text"
					name="idCartao" th:value="${cartao.idCartao}" />
			</div>
			<div class="form-group">
				<label>idTitular Titular</label> <input class="form-control"
					type="text" name="cartao.usuario.idUsuario"
					th:value="${cartao.usuario.idUsuario}" />
			</div>
			<div class="form-group">
				<label>Tipo do Cartão</label> <input class="form-control"
					th:value="${cartao.tipoCartao}" type="text" name="tipoCartao" />
			</div>
			<div class="form-group">
				<label>Data de Expedição</label> <input class="form-control"
					type="text" name="dataExpedicao"
					th:value="${#dates.format(cartao.dataExpedicao, 'dd/MM/yyyy')}"
					maxlength="10" autocomplete="off" />
			</div>
			<div class="form-group">
				<label>Status Cartão</label> <input class="form-control"
					th:value="${cartao.statusCartao}" type="text" name="statusCartao" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit" name="cmd"
					value="alterar">Alterar</button>
			</div>

		</div>
	</form>

</body>
</html>